.user {
    padding-right: 10px;
}

.bloque1 {
    position: relative;
}

.cuenta {
    position: absolute;
    top: -50px;
    right: 0px;
    padding-right: 10px;
    width: 50px;
    height: 50px;
    transition-duration: 1s;
}

.texto1 {
    position: absolute;
    top: -50px;
    right: 0px;
    width: 0px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
    overflow: hidden;
    background: rgb(154, 0, 200);
    background: linear-gradient(
        90deg,
        rgba(154, 0, 200, 0) 14%,
        rgba(154, 0, 200, 1) 100%
    );
    font-weight: bold;
    letter-spacing: 2px;
    -webkit-transition: width 1s, background 1s;
    -moz-transition: width 1s, background 1s;
    -o-transition: width 1s, background 1s;
    transition: width 1s, background 1s;
}

#texto1 {
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
}

.bloque1:hover .cuenta {
    transform: translate(-120px) rotate(-360deg);
    cursor: grab;
}

.bloque1:hover .texto1 {
    width: 150px;
    border-radius: 99999px;
}

.bloque2 {
    position: relative;
}

.carro {
    position: absolute;
    top: 10px;
    right: 0px;
    padding-right: 10px;
    width: 50px;
    height: 50px;
    transition-duration: 1s;
}

.texto2 {
    position: absolute;
    right: 0px;
    top: 10px;
    width: 0px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: right;
    overflow: hidden;
    background: rgb(154, 0, 200);
    background: linear-gradient(
        90deg,
        rgba(154, 0, 200, 0) 14%,
        rgba(154, 0, 200, 1) 100%
    );
    font-weight: bold;
    letter-spacing: 2px;
    -webkit-transition: width 1s, background 1s;
    -moz-transition: width 1s, background 1s;
    -o-transition: width 1s, background 1s;
    transition: width 1s, background 1s;
}

#texto2 {
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
}

.bloque2:hover .carro {
    transform: translate(-120px) rotate(-360deg);
    cursor: grab;
}

.bloque2:hover .texto2 {
    width: 150px;
    border-radius: 99999px;
}
