.main {
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
}

.modal {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal img {
  max-height: 80vh;
  max-width: 100vw;
}

.close {
  position: absolute;
  top: 10px;
  right: 10 px;
}

.close img {
  max-width: 5vw;
  max-height: 5vh;
}

.menuButton {
  position: relative;
  
}
.menuButton ul{
  position:absolute
}
.productsOpen {
  display: block;
  background-color: rgb(40, 84, 122);
  z-index: 999999;
  list-style-type: none;
}

.productsClosed {
  display:none
}