.pie {
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
padding: 20px;
}

.datos {
display: flex;
align-items: center;
flex-direction: column;
}

.dir {
padding: 5px;
}

.tel {
padding: 5px;
}

.web {
padding: 5px;
}

.insta {
width: 90px;
height: 90px;
}

.face {
width: 90px;
height: 90px;
}

.comp {
width: 90px;
height: 90px;
}
